<%- include ../header %>
<div class="container">
	<%- include _search %>
	<%- include _sidebar %>
	<div class="main">
		<div class="main-header">
			<h2>博客列表 <a href="/center/post" class="add-post">写博客</a></h2>
			<div class="sort">
				<span>排序：</span>
				<select name="post-sort" id="">
					<option value="1">更新时间</option>
					<option value="1">阅读次数</option>
					<option value="1">收藏次数</option>
					<option value="1">分享次数</option>
					<option value="1">点赞次数</option>
				</select>
			</div>
		</div>
		<ul class="post-list clearfix" id="post-list">
			<li>
				<a href=""><img class="author-picture" src="images/picture.jpg" alt=""></a>
				<ul class="post-data">
					<li class="reads">阅<span>x300</span></li>
					<li class="likes">&nbsp;赞<span>x300</span></li>
					<li class="collects">&nbsp;藏<span>x300</span></li>
					<li class="shares">&nbsp;享<span>x300</span></li>
				</ul>
				<div class="post-title">
					<h3><a href="">php之性能分析</a> <span>2014-12-22</span></h3>
					<p>
					类别：<a href="">php学习</a>
					标签：<a href="">PHP</a> <a href="">性能</a>
					</p>
				</div>
			</li>
			<li>
				<a href=""><img class="author-picture" src="images/picture.jpg" alt=""></a>
				<ul class="post-data">
					<li class="reads">阅<span>x300</span></li>
					<li class="likes">&nbsp;赞<span>x300</span></li>
					<li class="collects">&nbsp;藏<span>x300</span></li>
					<li class="shares">&nbsp;享<span>x300</span></li>
				</ul>
				<div class="post-title">
					<h3><a href="">php之性能分析</a> <span>2014-12-22</span></h3>
					<p>
					类别：<a href="">php学习</a>
					标签：<a href="">PHP</a> <a href="">性能</a>
					</p>
				</div>
			</li>
		</ul>
		<div class="paginate-container">
			<div class="pagination">
				<span class="previous_page disabled">Previous</span>
				<em class="current">1</em>
				<a rel="next" href="">2</a>
				<a href="">3</a>
				<a href="">4</a>
				<a href="">5</a>
				<span class="gap">…</span>
				<a href="">99</a>
				<a href="">100</a>
				<a class="next_page" rel="next" href="">Next</a>
			</div>
		</div>
	</div>
</div>
<%- include ../footer %>