<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>标题</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/center.css" />
	</head>
	<body>
		<div id="wrapper">
			<div class="header">
				<a class="logo" href="www.shangxiahui.com"><img src="image/logo.jpg" alt=""></a>
				<div class="actions">
					<a href="/center">
						<img src="" alt="">
						<span></span>
					</a>
					<a href="/center/profile"><span>设置</span></a>
					<a href="/logout"><span>退出</span></a>
				</div>
			</div>
		<div class="container">
			<div class="search">
				<form>
				搜索：<input type="text" name="searchKey" placeholder="文章标题，作者" value="" /> <input type="submit" value="确认" />
				</form>
			</div>
			<div class="sidebar">
				<ul class="author-info">
					<li class="clearfix"><a href=""><img class="author-picture" src="image/picture.jpg"></a> <a class="author-name" href="">Tipine</a></li>
					<li>QQ: <span>466586808</span></li>
					<li>Weibo: <span>Jianbo</span></li>
				</ul>
				<ul class="common">
					<li class="title">我的博客</li>
					<li><span class="post">10</span><a href="/center/posts">博客</a></li>
					<li><span class="category">2</span><a href="/center/category">分类</a></li>
					<li><span class="tags">33</span><a href="/center/tag">标签</a></li>
				</ul>
				<ul class="dynamic">
					<li class="title">我的动态</li>
					<li><span class="message">12</span><a href="/center/message">私信</a></li>
					<li><span class="collect">12</span><a href="/center/collect">收藏</a></li>
					<li><span class="follow">12</span><a href="/center/follow">关注</a></li>
					<li><span class="share">12</span><a href="/center/share">分享</a></li>
					<li><span class="like">12</span><a href="/center/like">点赞</a></li>
					<li class="cur"><span class="comment">12</span><a href="/center/comment">评论</a></li>
				</ul>
			</div>
			<div class="main">
				<div class="main-header">
					<h2>评论详情</h2>
				</div>
				<div class="main-content">
					<div class="comment-subject"><!-- first comment -->
						<div class="agrees"><span>x300</span></div>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<div class="comment-summary">
							<p>
								我评论了 <a href="">Tom</a> 的：
								<a href="">文章标题</a>&nbsp;&nbsp; 
								<span>2012-12-12</span>
							</p>
							<div class="comment-content">
								<textarea>评论简介...</textarea>
							</div>
						</div>
					</div>
					<ul class="sub-comment-list">
						<li><!-- 我评论的
							<div class="comment-action">
								<a href="" class="comment-detail">详细</a>
								<a href="javascript:void(0);" class="disable-comment">取消</a>
							</div> -->
							<div class="agrees"><span>x300</span></div>
							<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
							<a class="author-name" href="">Tipine</a> <span>2012-12-12</span>
							<div class="comment-content">
								<textarea>评论简介...</textarea>
							</div>
						</li>
						<li><!-- 我评论的
							<div class="comment-action">
								<a href="" class="comment-detail">详细</a>
								<a href="javascript:void(0);" class="disable-comment">取消</a>
							</div> -->
							<div class="agrees"><span>x300</span></div>
							<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
							<a class="author-name" href="">Tipine</a> <span>2012-12-12</span>
							<div class="comment-content">
								<textarea>评论简介...</textarea>
							</div>
						</li>
					</ul>
					<div class="paginate-container">
						<div class="pagination">
						<span class="previous_page disabled"><- Previous</span>&nbsp;&nbsp;
						<a class="next_page" rel="next" href="">Next -></a>
						</div>
					</div>
					<div class="comment-reply clearfix">
						<form action="" method="post">
							<h3>回复</h3>
							<div class="reply-content">
								<textarea name=""></textarea>
							</div>
							<div class="reply-submit">
								<input type="submit" value="回复" />
								<input type="button" value="返回" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
			<div class="footer">
				<ul class="footer-left">
					<li><a href="">常用功能一</a></li>
					<li><a href="">常用功能二</a></li>
				</ul>
				<a class="footer-logo" href="www.shangxiahui.com"><img src="image/logo.jpg" /></a>
				<ul class="footer-right">
					<li><a href="">常用功能三</a></li>
					<li><a href="">常用功能四</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>