<%- include ../header %>
		<div class="container">
		<%- include _profile_sidebar %>	
			<div class="main">
				<div class="main-header">
					<h2>基本设置</h2>
				</div>
				<div class="main-content">
					<form action="/center/profile-password" method="post" id="profile-password">
						<table>
							<tr><th>旧密码：</th><td><input type="text" name="oldPassword" value="" /></td></tr>
							<tr><th>新密码：</th><td><input type="text" name="newPassword" value="" /></td></tr>
							<tr><th>确认密码：</th><td><input type="text" name="rePassword"  value="" /></td></tr>
							<tr><th></th><td><input type="submit" value="更新" /></td></tr>
						</table>
					</form>
				</div>
			</div>
		</div>
<%- include ../footer %>