			<div class="footer">
				<ul class="footer-left">
					<li><a href="">常用功能一</a></li>
					<li><a href="">常用功能二</a></li>
				</ul>
				<a class="footer-logo" href="www.shangxiahui.com"><img src="/images/logo.jpg" /></a>
				<ul class="footer-right">
					<li><a href="">常用功能三</a></li>
					<li><a href="">常用功能四</a></li>
				</ul>
			</div>
		</div>
		<%- sufJs %>
	</body>
</html>