<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>标题</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div class="header">
				<a class="logo" href="www.shangxiahui.com"><img src="image/logo.jpg" alt=""></a>
				<!--
				<div class="search">
					<form action="/center/search">
						<input type="text" placeholder="搜索" name="search" />
					</form>
				</div>
				-->
				<div class="actions">
					<a href="/center">
						<img src="" alt="">
						<span></span>
					</a>
					<a href="/center/profile"><span>设置</span></a>
					<a href="/logout"><span>退出</span></a>
				</div>
			</div>
			<div class="container">
				<div class="search">
					<form>
					搜索：<input type="text" name="searchKey" placeholder="文章标题，作者" value="" /> <input type="submit" value="确认" />
					</form>
				</div>
			<div class="sidebar">
				<ul class="search-category">
					<li><span>x300</span><a href="">标题</a></li>
					<li><span>x300</span><a href="">标签</a></li>
					<li class="cur"><span>x300</span><a href="">用户</a></li>
				</ul>
			</div>
			<div class="main">
				<div class="main-header">
					<h2>搜索用户昵称含：“PHP”，共找到10条记录</h2>
				</div>
				<ul class="search-user-list clearfix">
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<a style="display:block" href="">Tom</a>
						<a style="display:block" href="">关注</a>
					</li>
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<a href="">Tom</a>
						<div class="follow">
							<a href="">关注</a>
						</div>
					</li>
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<a href="">Tom</a>
						<div class="follow">
							<a href="">关注</a>
						</div>
					</li>
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<a href="">Tom</a>
						<div class="follow">
							<a href="">关注</a>
						</div>
					</li>
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<a href="">Tom</a>
						<div class="follow">
							<a href="">关注</a>
						</div>
					</li>
				</ul>
				<div class="paginate-container">
					<div class="pagination">
					<span class="previous_page disabled">Previous</span> 
					<em class="current">1</em> 
					<a rel="next" href="">2</a> 
					<a href="">3</a> 
					<a href="">4</a> 
					<a href="">5</a> 
					<span class="gap">…</span> 
					<a href="">99</a> 
					<a href="">100</a> 
					<a class="next_page" rel="next" href="">Next</a>
					</div>
				</div>
			</div>
		</div>
			<div class="footer">
				<ul class="footer-left">
					<li><a href="">常用功能一</a></li>
					<li><a href="">常用功能二</a></li>
				</ul>
				<a class="footer-logo" href="www.shangxiahui.com"><img src="image/logo.jpg" /></a>
				<ul class="footer-right">
					<li><a href="">常用功能三</a></li>
					<li><a href="">常用功能四</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>