<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>标题</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
	</head>
	<body>
		<div id="wrapper">
			<div class="header">
				<a class="logo" href="www.shangxiahui.com"><img src="image/logo.jpg" alt=""></a>
				<div class="actions">
					<a href="/center">
						<img src="" alt="">
						<span></span>
					</a>
					<a href="/center/profile"><span>设置</span></a>
					<a href="/logout"><span>退出</span></a>
				</div>
			</div>
		<div class="container">
			<div class="main full-width">
				<div class="main-header">
					<div class="in-time filter">
						<a href="">最近一周</a>
						| <a href="">最近一月</a>
						| <a href="">最近一年</a>
					</div>
					<h2>分享排行榜</h2> 
				</div>
				<ul class="post-list clearfix">
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<ul class="post-data">
							<li class="reads">阅<span>x300</span></li>
							<li class="likes">&nbsp;赞<span>x300</span></li>
							<li class="collects">&nbsp;藏<span>x300</span></li>
							<li class="shares">&nbsp;享<span>x300</span></li>
						</ul>
						<div class="post-title">
							<a href="">php之性能分析</a> <span>2014-12-22</span>
							<!--<p>
								类别：<a href="">php学习</a>
								标签：<a href="">PHP</a> <a href="">性能</a>
							</p>-->
						</div>
					</li>
					<li>
						<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
						<ul class="post-data">
							<li class="reads">阅<span>x300</span></li>
							<li class="likes">&nbsp;赞<span>x300</span></li>
							<li class="collects">&nbsp;藏<span>x300</span></li>
							<li class="shares">&nbsp;享<span>x300</span></li>
						</ul>
						<div class="post-title">
							<a href="">php之性能分析</a> <span>2014-12-22</span>
							<!--<p>
								类别：<a href="">php学习</a>
								标签：<a href="">PHP</a> <a href="">性能</a>
							</p>-->
						</div>
					</li>
				</ul>
			</div>
		</div>
			<div class="footer">
				<ul class="footer-left">
					<li><a href="">常用功能一</a></li>
					<li><a href="">常用功能二</a></li>
				</ul>
				<a class="footer-logo" href="www.shangxiahui.com"><img src="image/logo.jpg" /></a>
				<ul class="footer-right">
					<li><a href="">常用功能三</a></li>
					<li><a href="">常用功能四</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>