<%- include ../header %>
		<div class="container">
			<%- include _search %>
			<%- include _sidebar %>
			<div class="main marginl">
				<div class="main-header">
					<h2>标题</h2>
					<div class="post-data">
						发表于：<span>2012-14-12</span>
						阅读：<span>x123</span>
						来源：<span>http://www.baidu.com</span>
					</div>
				</div>
				<div class="post-content">
					文章内容
				</div>
				<div class="post-comment">
					<h2>评论</h2>
					<ul class="comment-list">
						<li>
							<div class="author-info">
								<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
							</div>
							<div class="comment-content">
								<a href="">Tom：</a><span class="content-main">评论内容评论内容评论内容评论内容</span>
								<div class="comment-action">
									<span>10票</span>
									<a href="javascript:void(0);" class="agree-comment">赞成</a>
									<a href="javascript:void(0);" class="open-subComment-form">回复</a>
								</div>
							</div>
							<ul class="comment-more">
								<li>
									<div class="author-info">
										<a href=""><img class="author-picture" src="image/picture.jpg" alt=""></a>
									</div>
									<div class="sub-comment-content">
										<a href="">Tom：</a><span class="content-main">评论内容评论内容评论内容</span>
										<div class="comment-action">
											<span>10票</span>
											<a href="javascript:void(0);" class="agree-comment">赞成</a>
										</div>
									</div>
								</li>
							</ul>
							<div class="comment-replay"></div>
						</li>
					</ul>
					<div class="comment-action">
						<form action="/comment/content" class="comment-form" id="comment-form" method="post">
							<input type="hidden" name="postId" value="" />
							<textarea name="comment" id="" cols="30" rows="10">发表评论吧</textarea>
							<div  class="form-submit"><input type="submit" value="评论"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="post-collect" id="post-collect-form"></div>
		<div class="post-share" id="post-share-form"></div>
<%- include ../footer %>