<%- include ../header %>
		<div class="container">
			<%- include _search %>
			<%- include _sidebar %>
			<div class="main">
				<div class="main-header">
					<h2>个人简介</h2>
				</div>
				<div class="profile clearfix">
				高原轻松。。。
				</div>
			</div>
		</div>
<%- include ../footer %>